{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome!
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}
{% block container %}

    <div class="row">
        <div class="col d-flex justify-content-center">
        {% for course in courses %}

            <div class="card mb-m me-3" style="width: 18rem;">
              <img src="{{ course.course_image.url }}" class="card-img-top" alt="{{ course.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ course.created|date }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ course.owner.fullname }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted mt-3">{{ course.subject }}</h6>
                <p class="card-text">{{ course.overview }}</p>
              </div>
            </div>

            {% empty %}
            <h3>No courses added</h3>
        {% endfor %}
        </div>
    </div>

{% endblock %}
