{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-lg">
    <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="{% static 'images/Logo.svg' %}" class="logo" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>

          {% if user.is_authenticated %}
              <a class="nav-link" href="">Profile: {{ user }}</a>
              <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                <a class="nav-link" href="{% url 'users:registration' %}">Register</a>
          {% endif %}

            <a class="nav-link" href="{% url 'courses:create-course' %}">Add course</a>
            <a class="nav-link" href="{% url 'courses:create-subject' %}">Add subject</a>


      </div>
    </div>
  </div>
</nav>
